@model DigitalLibrary.Core.Models.User

<h2>Деталі користувача</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Ім'я</dt>
        <dd class="col-sm-10">@Model.Username</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>
    </dl>
</div>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Редагувати</a>
<a asp-action="Index" class="btn btn-secondary">Назад</a>
