<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DigitalLibrary.WebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DigitalLibrary.WebUI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">DigitalLibrary</a>

                <div class="collapse navbar-collapse d-flex justify-content-between">
                    
                    <ul class="navbar-nav">
                        <a class="nav-link" asp-controller="Books" asp-action="Index">Книги</a>
                        <a class="nav-link" asp-controller="Authors" asp-action="Index">Автори</a>
                        <a class="nav-link" asp-controller="Genres" asp-action="Index">Жанри</a>
                        <a class="nav-link" asp-controller="BorrowRecords" asp-action="Index">Журнал видачі</a>

                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <a class="nav-link" asp-controller="Users" asp-action="Index">Користувачі</a>
                            <a class="nav-link" asp-controller="Admin" asp-action="Index">Статистика</a>
                        }
                    </ul>

                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <span class="nav-link text-light">Привіт, @User.Identity.Name!</span>
                            </li>
                            <li class="nav-item">
                                <form asp-controller="Account" asp-action="Logout" method="post" class="form-inline">
                                    <button type="submit" class="nav-link btn btn-link text-light">Вийти</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Account" asp-action="Login">Увійти</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Account" asp-action="Register">Реєстрація</a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - DigitalLibrary.WebUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
